<p>Listado de usuarios</p>
    <table>
        <tr>
            <th>ID Usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Username</th>
            <th>Rol</th>
           <!-- <th>Password</th> -->
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id_u}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.rol}}</td>
           <!-- <td>{{usuario.password}}</td>-->
            <td><button (click)="Editar(usuario)">Modificar</button></td>
            <td><button (click)="Eliminar(usuario)">Eliminar</button></td>
        </tr>
    </table>
    <router-outlet></router-outlet>