<br>
<br>

<div class="container">
    <div class="row">
        <h3 class="text-center">Listado de usuarios</h3>
    <table class="table table-sm">
        <caption>Lista de usuarios</caption>
        <thead class="table-primary">
        <tr class="text-center">
            <th>ID Usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Username</th>
            <th>Rol</th>
           <!-- <th>Password</th> -->
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let usuario of usuarios">
            <td class="bg-light">{{usuario.id_u}}</td>
            <td>{{usuario.nombre}}</td>
            <td class="bg-light">{{usuario.apellidos}}</td>
            <td>{{usuario.telefono}}</td>
            <td class="bg-light">{{usuario.username}}</td>
            <td>{{usuario.rol}}</td>
           <!-- <td>{{usuario.password}}</td>-->
            <td><button class="btn btn-success" (click)="Editar(usuario)">Modificar</button></td>
            <td><button class="btn btn-success" (click)="Eliminar(usuario)">Eliminar</button></td>
        </tr>
    </tbody>
    </table>
    <router-outlet></router-outlet>