<div class="container">
<div class="column mr-sm-2">

<form>
      <label for="Nombre" class="mr-sm-2">Nombre</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]= "usuario.nombre">

      <label for="Apellidos" class="mr-sm-2">Apellidos</label>
      <input type="text" id="apellidos" name="apellidos" [(ngModel)]= "usuario.apellidos">

      <label for="Telefono" class="mr-sm-2">Telefono</label>
      <input type="text" id="telefono" name="telefono" [(ngModel)]= "usuario.telefono">

      <button class="btn btn-success" (click)="Actualizar(usuario)">Modificar</button>
</form>
</div>
</div>