<p>Listado de mascotas</p>
    <table>
        <tr>
            <th>ID Mascota</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Modificar</th>
        </tr>
        <tr *ngFor="let mascota of mascotas">
            <td>{{mascota.id_m}}</td>
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.tipo}}</td>
            <td>{{mascota.precio}}</td>
            <td><button (click)="Editar(mascota)">modificar</button></td>
        </tr>
    </table>