<div class="container">
      <div class="row">
<form>
      <label for="Nombre" class="mr-sm-2">Nombre</label>
      <input class="form-control" type="text" id="nombre" name="nombre" [(ngModel)]= "mascota.nombre">

     
      <div class="form-group">
      <select class="form-control" type="text" id="tipo" name="tipo" autocomplete="off" [(ngModel)]= "mascota.tipo">
      <option>Seleccione una opción</option>      
      <option>Perro</option>
      <option>Gato</option>
      <option>Conejo</option>
      <option>Hamster</option>
      <option>Pollito</option>
      </select>
      </div>

      <label for="Precio" class="mr-sm-2">Precio</label>
      <input class="form-control" type="text" id="precio" name="precio" [(ngModel)]= "mascota.precio">

      <button class="btn btn-success" (click)="Actualizar(mascota)">Modificar</button>
</form>
      </div>
</div>